<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Hello friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in information about the car you want</h1>
    <form action='/Cars'>
      <div class='form-group'>
        <label for='makeModel'>what Type of Model?</label>
        <input id='makeModel' name='makeModel' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='miles'>how many miles</label>
        <input id='miles' name='miles' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='color'>what color</label>
        <input id='color' name='color' class='form-control' type='text'>
      </div>
      <div class='form-group'>
        <label for='price'>How much are you willing to spend!</label>
        <input id='price' name='price' class='form-control' type='text'>
      </div>
      <button type='submit' class='btn'>Go!</button>
    </form>
  </body>
</html>
